body {
    background-color: rgb(19, 16, 16);
    color: rgb(255, 206, 8);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#heading {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    border-bottom: 2px solid white;
}

#features-container {
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.feature-card{    
    text-align: center;
    width: 300px; /* Adjust the width as needed */
    height: 550px; /* Adjust the height as needed */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease,background-color 0.4s ease;
}
.feature-card:hover{
    transform:translateY(-15px);
    background-color: rgb(194, 194, 194);
}
.feature-image {
    border-radius: 50%;
    max-width: 100px;
    margin-bottom: 15px;
}

.bg1{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}